name: brain-stroke-segmentation
channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.12
  - pip
  - pip:
      - -r requirements.txt
      - pre-commit>=3.4.0
      - black>=23.0.0
      - isort>=5.12.0
      - flake8>=6.0.0
